# Ignoring temporary or irrelevant files:
*.log             # Log files
*.tmp             # Temporary files
*.bak             # Automatic backups
*.pbix            # Power Bi

# Ignoring specific folders
Help/
other_solutions/

# Ignoring subfolders or files out of BCase_PinkyTelecom
../../GitHub/     # Another irrelevant folder